!!!
%html
  %head
    %title Dummy
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor"
    = javascript_include_tag "rightnow_oms"
    = csrf_meta_tags
  
  %body
    = yield
