.r-cart-items
  %dl
    - items.each do |item|
      - unless item.parent
        %dt
          %ul
            %li.name= item.name
            %li.others
              .price=number_to_currency item.price
              .quantity= item.quantity
              .subtotal=number_to_currency item.total
            .r-clear
        - unless item.children.empty?
          %dd
            - item.children.each do |child|
              %ul
                %li.name= child.name
                %li.others
                  .price=number_to_currency child.price
                  .quantity= child.quantity
                  .subtotal=number_to_currency child.total
                .r-clear
  .r-bottom-bar
    %span= "#{t "order.total"} #{number_to_currency @cart.total}"
