.r-order
  .r-order-no
    %h3 订单号
    %p= @order.order_no
  .r-order-address
    %h3 送货地址
    %p= @order.delivery_address
  .r-order-contact
    %h3 联系方式
    %p
      %label 收货人姓名：
      = @order.receiver
      - unless @order.mobile.blank?
        %label 手机：
        = @order.mobile
      - unless @order.tel.blank?
        %label 电话：
        = @order.tel
      %label 要求送达时间：
      = @order.required_arrival_time
  .r-order-payment
    %h3 支付方式
    %p= @order.payment_mode
  .r-order-items
    %h3 商品清单
    %table
      %thead
        %tr
          %th 名称
          %th 价格
          %th 数量
          %th 小计
      %tbody
        - @order.order_items.each do |oi|
          %tr
            %td.name= oi.name
            %td.price= "￥#{oi.price}"
            %td.quantity= oi.quantity
            %td.subtotal= "￥#{oi.total}"
  - unless @order.remarks.blank?
    .r-order-remarks
      %h3 备注
      %p= @order.remarks
  - unless @order.vbrk.blank?
    .r-order-vbrk
      %h3 发票抬头
      %p= @order.vbrk
