.r-order
  .r-order-no
    %h3=t 'order.serial_no'
    %p= @order.order_no
  .r-order-address
    %h3=t 'order.address'
    %p= @order.delivery_address
  .r-order-contact
    %h3=t 'order.contact.title'
    %p
      %label=t 'order.contact.receiver'
      = @order.receiver
      - unless @order.mobile.blank?
        %label=t 'order.contact.mobile'
        = @order.mobile
      - unless @order.tel.blank?
        %label=t 'order.contact.tel'
        = @order.tel
      %label=t 'order.contact.required_arrival_time'
      = @order.required_arrival_time
  .r-order-payment
    %h3=t 'order.payment_mode'
    %p= @order.payment_mode
  .r-order-items
    %h3=t 'order.order_items'
    %table
      %thead
        %tr
          %th=t 'order_item.name'
          %th=t 'order_item.price'
          %th=t 'order_item.quantity'
          %th=t 'order_item.total'
      %tbody
        - @order.order_items.each do |oi|
          %tr
            %td.name= oi.name
            %td.price=number_to_currency oi.price
            %td.quantity= oi.quantity
            %td.subtotal=number_to_currency oi.total
  - unless @order.remarks.blank?
    .r-order-remarks
      %h3=t 'order.remarks'
      %p= @order.remarks
  - unless @order.vbrk.blank?
    .r-order-vbrk
      %h3=t 'order.vbrk'
      %p= @order.vbrk
