%li
  %p
    Name:
    %strong= product.name
  %p.price
    Price:
    =number_to_currency product.price
  %p
    Group:
    = product.group
  - if product.has_children?
    %p
      Children:
      %ul.list-children
        - for i in product.children do
          %li= "#{i.name} - #{number_to_currency(i.price)}"
  - p = product.as_json.merge(child_ids: product.children.map(&:id))
  %button.buy-btn{ id: "#{product.id}", info: p.to_json }
    Add To Cart
  %button.buy-unmergable{ info: p.to_json }
    Add A New One

