<div class="r-cart-bar">
  {{ view RightnowOms.ShowCartableCountView cartableCountBinding="cart.cartableCount" }}
</div>
<div class="r-cart-items">
  {{#each cart.cart_items}}
    {{ view RightnowOms.ShowCartItemView cartItemBinding="this" }}
  {{/each}}
  <div class="r-bottom-bar">
    <span>{{t cart.total}} <span class="r-money">{{t
        currency.unit}}{{ cart.total }}</span></span>
    <span><a href="/rightnow_oms/cart">{{t buttons.check_cart}}</a></span>
  </div>
</div>
