%form.order{ method: 'POST', action: '/rightnow_oms/orders' }
  %input{ name: 'authenticity_token', value: form_authenticity_token, type: 'hidden' }
  %input{ name: 'order[user_id]', value: 1, type: 'hidden' }
  .address
    - %W(province city district street neighborhood room).each do |attr|
      %p
        %label= attr.humanize
        %input{ name: "order[#{attr}]", type: 'text' }

  .contact
    - %W(receiver mobile tel required_arrival_time).each do |attr|
      %p
        %label= attr.humanize
        %input{ name: "order[#{attr}]", type: 'text' }

  .misc
    - %W(payment_mode remarks vbrk).each do |attr|
      %p
        %label= attr.humanize
        %input{ name: "order[#{attr}]", type: 'text' }



  .cart-items
    = list_items @cart.cart_items

  .buttons
    %input{ type: 'submit', value: 'Create Order' }
